body {
  font-size: 14px;
  font-family: Open sans;
  margin: 0 auto;
}

.container h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

.container h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

.navbar .nav li a {
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-default .navbar-nav a {
  box-shadow: 0, 0, 3px rgba(0, 0, 0, 0.5);
}

.navbar-default .navbar-nav > .active > a {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

.navbar-default .navbar-nav > .active > a:hover {
  color: #399bd1;
  background-color: inherit;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.navbar-header img {
  align-self: center;
}

.jumbotron-bike {
  margin-top: 52px;
  background-image: url("../images/jumbotron-bike.jpg");
  color: white;
  text-align: center;
}

.jumbotron-bike h1 {
  font-family: Monoton;
  font-size: 7.1rem;
  color: white;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding-top: 11.85rem;
}

.jumbotron-bike p {
  font-size: 1.5rem;
  width: 51.3rem;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 11.4rem;
  font-size: 1.5rem;
  background-color: #399bd1;
  padding: 1.3rem 0;
  margin: 2.8rem auto 11.85rem auto;
}

.image-container img {
  width: 100%;
  opacity: 0.7;
  margin-top: 20px;
}

.col-lg-4, .col-sm-12 {
  margin-bottom: 5.85rem;
}

.color {
  color: #399bd1;
}

.list {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}

.footer {
  background-color: #f3f3f3;
  text-align: center;
}

.footer p {
  width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

.footer .strong {
  width: 100%;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 5.2rem;
  padding-bottom: 1.4rem;
}

.footer .btn {
  margin-bottom: 5.2rem;
}

@media only screen and (max-width: 768px) {
  .jumbotron-bike h1 {
    font-size: 5.7rem;
  }
  .jumbotron-bike p {
    width: 100%;
  }
  .footer p {
    width: 100%;
  }
}
